In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
data=pd.read_csv('TexasTurbine (2).csv')

In [5]:
data

,Time stamp,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
0,"Jan 1, 12:00 am",1766.64,9.926,128,1.000480,18.263
1,"Jan 1, 01:00 am",1433.83,9.273,135,0.999790,18.363
2,"Jan 1, 02:00 am",1167.23,8.660,142,0.999592,18.663
3,"Jan 1, 03:00 am",1524.59,9.461,148,0.998309,18.763
4,"Jan 1, 04:00 am",1384.28,9.184,150,0.998507,18.963
...,...,...,...,...,...,...
8755,"Dec 31, 07:00 pm",1234.70,8.848,129,0.998604,19.663
8756,"Dec 31, 08:00 pm",1105.37,8.502,118,1.000090,19.063
8757,"Dec 31, 09:00 pm",1405.71,9.224,117,0.998408,18.463
8758,"Dec 31, 10:00 pm",1221.36,8.799,116,0.998013,18.063
8759,"Dec 31, 11:00 pm",1676.77,9.748,121,1.000380,18.163

In [6]:
del data['Time stamp']

In [7]:
data

,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
0,1766.64,9.926,128,1.000480,18.263
1,1433.83,9.273,135,0.999790,18.363
2,1167.23,8.660,142,0.999592,18.663
3,1524.59,9.461,148,0.998309,18.763
4,1384.28,9.184,150,0.998507,18.963
...,...,...,...,...,...
8755,1234.70,8.848,129,0.998604,19.663
8756,1105.37,8.502,118,1.000090,19.063
8757,1405.71,9.224,117,0.998408,18.463
8758,1221.36,8.799,116,0.998013,18.063
8759,1676.77,9.748,121,1.000380,18.163

In [8]:
df=data.dropna()

In [9]:
df

,System power generated | (kW),Wind speed | (m/s),Wind direction | (deg),Pressure | (atm),Air temperature | ('C)
0,1766.64,9.926,128,1.000480,18.263
1,1433.83,9.273,135,0.999790,18.363
2,1167.23,8.660,142,0.999592,18.663
3,1524.59,9.461,148,0.998309,18.763
4,1384.28,9.184,150,0.998507,18.963
...,...,...,...,...,...
8755,1234.70,8.848,129,0.998604,19.663
8756,1105.37,8.502,118,1.000090,19.063
8757,1405.71,9.224,117,0.998408,18.463
8758,1221.36,8.799,116,0.998013,18.063
8759,1676.77,9.748,121,1.000380,18.163

In [10]:
df=df.rename({'System power generated | (kW)':'System_power_generated','Wind speed | (m/s)':'Wind_speed',
              'Wind direction | (deg)':'Wind_direction','Pressure | (atm)':'Pressure',
              "Air temperature | ('C)":'Air_temperature'},axis=1)

In [11]:
df.columns

Index(['System_power_generated', 'Wind_speed', 'Wind_direction', 'Pressure',
       'Air_temperature'],
      dtype='object')

In [12]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, explained_variance_score,median_absolute_error

In [13]:
X=df.drop(labels='System_power_generated',axis=1)
# Response Variable
y=df.loc[:,'System_power_generated']

In [14]:
# we'll use a test size of 30%. we also stratify the split on the response variable, which is very important to do because there are so few fradulent transactions
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3)

In [17]:
from sklearn.ensemble import RandomForestRegressor
rf=RandomForestRegressor()
rf.fit(X_train,y_train)

predicts=rf.predict(X_test)

mae=(mean_absolute_error(y_test,predicts))
print('MEAN ABSOLUTE ERROR VALUE IS:',mae)
print('')

mse=(mean_squared_error(y_test,predicts))
print('MEAN SQUARED ERROR VALUE IS:',mse)
print('')

medianAE=(median_absolute_error(y_test,predicts))
print('MEDIAN ABSOLUTE ERROR VALUE IS:',medianAE)
print('')

evs=(explained_variance_score(y_test,predicts)*100)
print('ACCURACY RESULT OF RANDOM FOREST IS:',evs)
print('')

r2=(r2_score(y_test,predicts))
print('R2 SCORE VALUE IS:',r2)
print('')

MEAN ABSOLUTE ERROR VALUE IS: 3.0076473299676434

MEAN SQUARED ERROR VALUE IS: 32.20397461956154

MEDIAN ABSOLUTE ERROR VALUE IS: 1.447729999999467

ACCURACY RESULT OF RANDOM FOREST IS: 99.99591282955997

R2 SCORE VALUE IS: 0.9999588659593558